.app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    color: var(--text_color);
    overflow-y: scroll;
}
  

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 400px;
    min-height: 100vh;
    background-color: var(--primary_color);
}