.card, .default-card {
    width: 25%;
    min-width: 300px;
    padding: 1rem;
    gap: 10px;
    background-color: var(--secondray_color);
    border-radius: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    margin-top: 0.6rem;
    gap: 0.2rem;
}

.chip {
    width: fit-content;
    border: 1px solid purple;
    border-radius: 8px;
    padding: 0.3rem 0.8rem;
}

.default-card {
    h2, span {
        background-color: var(--primary_color);
        border-radius: 4px;
    }
}